.wy-nav-content {
    max-width: 830px !important;
    min-height: 100vh;
}

@media screen and (max-width: 768px) {
    .wy-nav-content-wrap .wy-nav-content {
        padding: 1.35em;
    }
}

li.toctree-l3 {
    display: none !important;
}

li.toctree-l2 > a > button.toctree-expand {
    display: none !important;
}

.rst-content .section ul li {
    margin-bottom: 6px;
}

code.bold-code {
    font-weight: bolder !important;
}

.admonition.info {
    background: #f2f2f2 !important; 
}

.admonition.info .admonition-title {
    background: rgb(135, 135, 135) !important; 
    color: #ffffff !important;      
}

sub {
    line-height: 0;
}

.subtitle,
figcaption {
    font-size: 0.95em;
}


@media screen and (max-width: 768px) {
    .rst-content p,
    .rst-content ul li,
    .rst-content ol li,
    .rst-content a {
        font-size: 16px !important;
        line-height: 1.6 !important;
    }

    .rst-content p {
        margin-bottom: 16px !important;
    }

    .rst-content h1 { font-size: 26px !important; } /* Theme default is ~28px */
    .rst-content h2 { font-size: 22px !important; } /* Theme default is ~24px */
    .rst-content h3 { font-size: 18px !important; } /* Theme default is ~20px */
    .rst-content h4 { font-size: 16px !important; } /* Theme default is ~18px */

    sub {
        line-height: 1.3;
    }

    .subtitle,
    figcaption {
        font-size: 0.85em;
    }
}
